<tr name ="radioques">
    <td class="text-left col-md-6">{{this.text}}</td>

    <td class="radiocol text-center input ">
            <input class="form-check-input first-radio-box" type="radio" name={{this.id}} value="1-strongly-disagree" onclick="removeWarning();" required>
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="2-somewhat-disagree" onclick="removeWarning();" required>
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="3-no-opinion" onclick="removeWarning();" required>
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="4-somewhat-agree" onclick="removeWarning();" required checked>
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="5-strongly-agree" onclick="removeWarning();" required>
        </td>
</tr>