<tr>
    <td class="text-left smaller-text col-md-7 question-text">{{this.text}}</td>

    <td class="text-center input col-md-1">
            <input class="form-check-input" type="radio" name={{this.id}} value="5">
        </td>
    <td class="text-center input col-md-1">
            <input class="form-check-input" type="radio" name={{this.id}} value="4">
        </td>
    <td class="text-center input col-md-1">
            <input class="form-check-input" type="radio" name={{this.id}} value="3">
        </td>
    <td class="text-center input col-md-1">
            <input class="form-check-input" type="radio" name={{this.id}} value="2">
        </td>
    <td class="text-center input col-md-1">
            <input class="form-check-input" type="radio" name={{this.id}} value="1">
        </td>
</tr>