<tr>
    <td class="text-left col-md-6 font-size-task-one">{{this.text}}</td>

    <td class="radiocol text-center input ">
            <input class="form-check-input first-radio-box" type="radio" name={{this.id}} value="5" onclick="removeWarning();">
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="4" onclick="removeWarning();">
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="3" onclick="removeWarning();">
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="2" onclick="removeWarning();">
        </td>
    <td class="radiocol text-center input">
            <input class="form-check-input" type="radio" name={{this.id}} value="1" onclick="removeWarning();">
        </td>
</tr>