
{{> 1contentheading}}
    <div class="row h-100">
        <div class="col-md-12 align-self-end">
              <h2>{{#each perguntas}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
        </div>
    </div>
</div>

{{> 2contentmain}}
    <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-10 col-md-10 text-left p-xs-1 p-sm-2 p-md-3 p-lg-4 p-xl-5">
            <form action="#" method="POST">
                <table class="table table-striped">
                    <h3 class="text-left my-5 mx-2"></h3>
                    {{#each perguntas}} 
                        {{#if dropdown}}
                            <tr>
                                <td class="text-left">{{this.text}}</td>          
                                <td>
                                    <select id={{this.id}} name={{this.id}} class="form-control dropdn first-radio-box" onclick="removeWarning();">
                                        <option disabled selected value> -- select an option -- </option>
                                            {{#each this.options}}
                                                <option value={{this}}>{{this}}</option>
                                            {{/each}}
                                </select>
                                </td>    
                            </tr>
                        {{/if}}

                        {{#if yesno}}
                                <tr>
                                    <td class="text-left">{{this.text}}</td>
                                    <td>
                                    <div id={{this.id}} class="btn-group yesno" data-toggle="buttons">
                                        <label class="btn btn-primary" onclick="removeWarning();"><input type="radio" name={{this.id}}-yes class="first-radio-box"/>Yes</label>
                                        <label class="btn btn-danger" onclick="removeWarning();"><input type="radio" name={{this.id}}-no onclick="removeWarning();"/>No</label>
                                    </div>
                                    </td>
                                </tr>
                        {{/if}}

                        {{#if textarea}}
                            <tr>
                                <td class="text-left">{{this.text}}</td>
                                <td>
                                    <input id={{this.id}} name={{this.id}} class="form-control first-radio-box text-area-for-vali" type="text" value="" autocomplete="off" onclick="removeWarning();">
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>      
            </form>
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>



{{> 3footer}}

    {{> 4footerleft}}
            {{#if urlsAndPages.backbutton}}
            <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-lg btn-secondary float-left">Back</a>
            {{/if}}
        </div>
    </div>

    {{> 5footermiddle}}

            <div id="warning-message"></div>

            {{#if urlsAndPages.pagination}}
            <div id="page-number">{{> pageNumberFormat}}{{urlsAndPages.pagination}}</div></div>
            {{/if}}

        </div>
    </div>

    {{> 6footerright}}
            <a role="button" onclick="checkDropQuestions(getArrayOfQuestions());" class="btn btn-lg btn-primary text-white float-right">Next</a>
        </div>
    </div>
{{!-- closing div of footer below --}}
</div>
