<div class="row h-100">

{{!-- Start of Left Side Bar --}} 
    <div class="col-1">

        <div id="empty-skip-btn" class="row h-50">
            {{!-- Skip button used to speed up testing phase. Not used for production --}} 
        </div>

        <div class="row h-50">
            <div class="align-self-end col-12">
                <div class="text-left {{> paddingBottomDefault }}">
                    {{#if urlsAndPages.backbutton}}
                        <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-secondary">Back</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{!-- End of Left Side Bar --}} 

    <div id="task-2-main" class="col-10">
    {{!-- Header Start --}} 
        <div class="row bespoke-header-and-footer-o">
            <div class="col-md-12 align-self-top text-center {{> paddingTopDefault }}">
                <div class="text-center">
                    <h2 class="text-primary">{{#each perguntas}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
                </div>
            </div>
        </div>
    {{!-- Header End --}} 
        <div id="task-2" class="row bespoke-vertical-align-o justify-content-center">
        <form onSubmit="return checkQuestionsTask2(getArrayOfQuestions());" method="POST">
            <div id="task-2-text-box" class="col-12">
                    <table class="table-sm table-striped">
                    {{#each perguntas}} 
                        {{#if dropdown}}
                            <tr class="row">
                                <td class="text-left col-sm-6">{{this.text}}</td>          
                                <td class="col-sm-6">
                                    <select id={{this.id}} name={{this.id}} class="form-control dropdn-form-validation first-radio-box" onclick="removeWarning();" onChange="disableDependencies({{this.id}});" required>
                                        <option disabled selected value> -- select an option -- </option>
                                            {{#each this.options}}
                                                
                                                    <option {{#if this.selected}}selected{{/if}} value="{{this.option}}">{{this.option}}</option>
                                                
                                            {{/each}}
                                    </select>
                                </td>    
                            </tr>
                        {{/if}}

                        {{#if yesno}}
                                <tr class="row">
                                    <td class="text-left col-sm-6">{{this.text}}</td>
                                    <td id={{this.id}} class="text-center offset-sm-2 col-sm-2 btn-group yesno" data-toggle="buttons" onclick="removeWarning();" required>

                                        <label class="btn btn-primary {{#if this.options.1.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="1-yes" class="first-radio-box" onChange="disableDependencies({{this.id}});" {{#if this.options.1.selected}}checked{{/if}}/>Yes </label>
                                        <label class="btn btn-danger {{#if this.options.0.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="0-no" onChange="disableDependencies({{this.id}});" {{#if this.options.0.selected}}checked{{/if}}/>No</label>
                                    
                                    </td>
                                </tr>
                        {{/if}}

                        {{#if textarea}}
                            <tr class="row">
                                <td class="text-left col-sm-6">{{this.text}}</td>
                                <td class="col-sm-6">
                                    <input id={{this.id}} name={{this.id}} class="form-control first-radio-box text-area-for-vali" type="text" autocomplete="off" onclick="removeWarning();" 
                                    
                                    {{#if this.editedByUser}}value={{this.userAnswer}}{{/if}}
                                                                        
                                    
                                    required>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                    </table>  
                </div>
        </div>
        {{!-- Start of Footer --}}
            <div class="row bespoke-header-and-footer-o">
                <div class="col-md-12 align-self-end text-center font-size-90 pb-md-0 pb-lg-3 d-md-none d-lg-block">
                    <div id="warning-message-small">
                        {{!-- Form Validation Div --}}
                    </div>

                    {{#if urlsAndPages.pagination}}
                        <div id="page-number">
                            <div class="text-center pt-3">
                                {{urlsAndPages.pagination}}
                            </div>
                        </div>
                    {{/if}}

                </div>
            </div>
            {{!-- End of Footer --}}
    </div>
    {{!-- End of task-2-main --}}

{{!-- Start of Right Side Bar --}}
    <div class="col-1">
        <div class="row h-50">
            <div class="align-self-top col-12">
                <div class="text-right {{> paddingTopDefault }}">
                    <a id="toggle-text-size-btn" role="button" onclick="toggleFontSize();" class="btn btn-secondary text-white hand-curser"><strong>a</strong>A</a>
                </div>
            </div>
        </div>

        <div class="row h-50">
            <div class="align-self-end col-12">
                <div class="text-right {{> paddingBottomDefault }}">
                    <button role="button" type="submit" class="btn btn-primary text-white hand-curser">Next</button>
                </div>
                </form>
            </div>
        </div>
    </div>    
{{!-- End of Right Side Bar --}}
{{!-- Ending Div (row) Below--}}
</div> 

