<div style="height: 100vh">
<form onSubmit="return checkQuestionsRadios(getArrayOfQuestions());" method="POST" class="h-100">
<div class="row h-100">

{{!-- Start of Left Side Bar --}} 
    <div id="left-col" class="col-1 h-100">

        <div id="empty-skip-btn" class="row h-50"> 
            {{!-- Skip button used to speed up testing phase. Not used for production --}} 
        </div>

        <div class="row h-50">
            <div class="align-self-end col-12">
                <div class="text-left {{> paddingBottomDefault }}">
                    {{#if urlsAndPages.backbutton}}
                        <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-secondary">Back</a>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
{{!-- End of Left Side Bar --}}  

{{!-- Start of Middle Column (col-10) --}}
    <div id="main-col" class="col-10 h-100">
        {{!-- Header Start --}} 
        {{!-- To vertically align items to the bottom  you need both d-flex and align-items-end. text-center horizonally centers --}}
        <div class="row row-10h d-flex align-items-end text-center"> 
            <div class="col-12 d-md-none d-lg-block">
                <h2 class="text-primary">{{#each persistquestions}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
            </div>
        </div> 
        {{!-- Header End --}}


                {{!-- Main Content Start --}} 
        <div class="row row-80h d-flex align-items-center justify-content-center font-size-100" id="task-2-text-box" >
            
                <table class="table table-striped">
                <tbody>

                    {{#each persistquestions}} 
                        {{#if dropdown}}
                            <tr class="row h-100 d-flex align-items-center">
                                <td class="text-left col-sm-6">{{{this.text}}}</td>          
                                <td class="col-sm-6">
                                    <select id={{this.id}} name={{this.id}} class="form-control dropdn-form-validation first-radio-box" onclick="removeWarning();" onChange="disableDependencies({{this.id}});" required>
                                        <option disabled selected value> -- select an option -- </option>
                                            {{#each this.options}}
                                                
                                                    <option {{#if this.selected}}selected{{/if}} value="{{this.option}}">{{this.option}}</option>
                                                
                                            {{/each}}
                                    </select>
                                </td>    
                            </tr>
                        {{/if}}

                        {{#if yesno}}
                            <tr class="row h-100 d-flex align-items-center">
                                    <td class="text-left col-sm-6">{{{this.text}}}</td>
                                    <td id={{this.id}} class="text-center offset-sm-2 col-sm-2 btn-group yesno" data-toggle="buttons" onclick="removeWarning();" required>

                                        <label class="btn btn-primary {{#if this.options.1.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="1-yes" class="first-radio-box" onChange="disableDependencies({{this.id}});" {{#if this.options.1.selected}}checked{{/if}}/>Yes </label>
                                        <label class="btn btn-danger {{#if this.options.0.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="0-no" onChange="disableDependencies({{this.id}});" {{#if this.options.0.selected}}checked{{/if}}/>No</label>
                                    
                                    </td>
                                </tr>
                        {{/if}}

                        {{#if textarea}}
                            <tr class="row h-100 d-flex align-items-center">
                                <td class="text-left col-sm-6">{{{this.text}}}</td>
                                <td class="col-sm-6">
                                    <input id={{this.id}} name={{this.id}} class="form-control first-radio-box text-area-for-vali" type="text" autocomplete="off" onclick="removeWarning();" 
                                    
                                    {{#if this.editedByUser}}value="{{this.userAnswer}}"{{/if}}
                                                                        
                                    
                                    required>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>

        </div>
        {{!-- ^^ End of Main Content --}}

        {{!-- Start of Footer --}}
            <div class="row row-10h d-flex align-items-end text-center">
                <div class="col-md-12 font-size-90 pb-md-0 pb-lg-3 d-md-none d-lg-block">
                    <div id="warning-message-small">
                        {{!-- Form Validation Div --}}
                    </div>

                    {{#if urlsAndPages.pagination}}
                        <div id="page-number">
                            <div class="text-center pt-3">
                                {{urlsAndPages.pagination}}
                            </div>
                        </div>
                    {{/if}}

                </div>
            </div>
        {{!-- ^^ End of Footer  --}}
    </div>
{{!-- End of Middle Column (col-10) --}}

{{!-- Start of Right Side Bar --}}
    <div id="right-col" class="col-1 h-100">
        <div class="row h-50">
            <div class="align-self-top col-12">
                <div class="text-right {{> paddingTopDefault }}">
                    <a id="toggle-text-size-btn" role="button" onclick="toggleFontSize();" class="btn btn-secondary text-white hand-curser"><strong>a</strong>A</a>
                </div>
            </div>
        </div>

        <div class="row h-50">
            <div class="align-self-end col-12">
                <div class="text-right {{> paddingBottomDefault }}">
                    <button role="button" type="submit" class="btn btn-primary text-white hand-curser">Next</button>
                </div>
            </div>
        </div>
    </div>
{{!-- ^^ End of Right Side Bar --}}

</div> {{!-- << End of Page Div --}}
</form>
</div>

