<div id="content-heading-e" class="text-center row">

    <div class="col-2">
    </div>

    <div class="col-8">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <div class="text-center">
                    <h2>{{#each perguntas}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <div class="float-right pt-2 pr-2">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-main-e">
    <div class="row justify-content-center bespoke-vertical-align-e">
        <div class="col-sm-10 col-md-10">
            <form onSubmit="return checkQuestionsTask2(getArrayOfQuestions());" method="POST">
                <table class="table table-striped my-5">
                    {{#each perguntas}} 
                        {{#if dropdown}}
                            <tr class="row">
                                <td class="text-left col-sm-6">{{this.text}}</td>          
                                <td class="col-sm-6">
                                    <select id={{this.id}} name={{this.id}} class="form-control dropdn-form-validation first-radio-box" onclick="removeWarning();" onChange="disableDependencies({{this.id}});" required>
                                        <option disabled selected value> -- select an option -- </option>
                                            {{#each this.options}}
                                                
                                                    <option {{#if this.selected}}selected{{/if}} value="{{this.option}}">{{this.option}}</option>
                                                
                                            {{/each}}
                                    </select>
                                </td>    
                            </tr>
                        {{/if}}


                        {{#if yesno}}
                                <tr class="row">
                                    <td class="text-left col-sm-6">{{this.text}}</td>
                                    <td id={{this.id}} class="text-center offset-sm-2 col-sm-2 btn-group yesno" data-toggle="buttons" onclick="removeWarning();" required>

                                        <label class="btn btn-primary {{#if this.options.1.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="1-yes" class="first-radio-box" onChange="disableDependencies({{this.id}});" {{#if this.options.1.selected}}checked{{/if}}/>Yes </label>
                                        <label class="btn btn-danger {{#if this.options.0.selected}}active{{/if}}"><input type="radio" name={{this.id}} value="0-no" onChange="disableDependencies({{this.id}});" {{#if this.options.0.selected}}checked{{/if}}/>No</label>
                                    
                                    </td>
                                </tr>
                        {{/if}}

                        {{#if textarea}}
                            <tr class="row">
                                <td class="text-left col-sm-6">{{this.text}}</td>
                                <td class="col-sm-6">
                                    <input id={{this.id}} name={{this.id}} class="form-control first-radio-box text-area-for-vali" type="text" autocomplete="off" onclick="removeWarning();" 
                                    
                                    {{#if this.editedByUser}}value={{this.userAnswer}}{{/if}}
                                                                        
                                    
                                    required>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>  
        </div>
    </div>
{{!-- closing div of end of contentmain below --}}
</div>

<div id="footer-e" class="row">

    {{> 4footerleft}}
            {{#if urlsAndPages.backbutton}}
            <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-lg btn-secondary float-left mx-5">Back</a>
            {{/if}}
        </div>
    </div>

    {{> 5footermiddle}}

            <div id="warning-message-small"></div>

            {{#if urlsAndPages.pagination}}
            <div id="page-number">{{> pageNumberFormat}}{{urlsAndPages.pagination}}</div></div>
            {{/if}}

        </div>
    </div>

    {{> 6footerright}}
            <button role="button" type="submit" class="btn btn-lg btn-primary text-white float-right hand-curser">Next</button>
        </div>
        </form>
    </div>
{{!-- closing div of footer below --}}
</div>

