<div id="content-heading-f" class="text-center row">

    {{> 7completeAllQuestions}}

    <div class="col-8">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <h2 class="text-primary">{{#each heading}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
            </div>
        </div>
    </div>

    {{> 8increaseTextSizeBtn}}
</div>


<div id="content-main-top-f">

    <div class="row justify-content-center bespoke-vertical-align-f pt-4 ">
        <div id="task3TextBoxScenario" class="col-10 px-md-3 py-3">
                {{#each sheetsSituations}}

                        {{#if scenario}}
                            {{{this.text}}}
                        {{/if}}

                {{/each}}
            
        </div>
    </div>
</div>


<div id="content-main-bottom-f">
    <div id="task-3-text-box" class="justify-content-center bespoke-vertical-align-f col-12 font-size-sm text-left ">
        <div class="col-10">
            <form onSubmit="return checkQuestionsRadios(getArrayOfQuestions());" method="POST">
                    <table class="table table-striped">
                    {{> radioTask3HeadingEff}}
                    {{#each perguntas}} 
                    {{#if radio}} 
                
                        <tr name ="radioques">
                        <td class="text-left col-md-6">{{this.text}}</td>

                        <td class="radiocol text-center input ">
                                <input class="form-check-input first-radio-box" type="radio" name={{this.id}} value="1-strongly-disagree" onclick="removeWarning();" {{#if this.option1Selected}} checked {{/if}} required>
                            </td>
                        <td class="radiocol text-center input">
                                <input class="form-check-input" type="radio" name={{this.id}} value="2-somewhat-disagree" onclick="removeWarning();" {{#if this.option2Selected}} checked {{/if}} required>
                            </td>
                        <td class="radiocol text-center input">
                                <input class="form-check-input" type="radio" name={{this.id}} value="3-no-opinion" onclick="removeWarning();" {{#if this.option3Selected}} checked {{/if}} required>
                            </td>
                        <td class="radiocol text-center input">
                                <input class="form-check-input" type="radio" name={{this.id}} value="4-somewhat-agree" onclick="removeWarning();" {{#if this.option4Selected}} checked {{/if}} required>
                            </td>
                        <td class="radiocol text-center input">
                                <input class="form-check-input" type="radio" name={{this.id}} value="5-strongly-agree" onclick="removeWarning();" {{#if this.option5Selected}} checked {{/if}} required>
                            </td>
                        </tr>
                    
                    {{/if}} 
                    {{/each}}
                </table>      

        </div>
    </div>
</div>



<div id="footer-f" class="row">

    <div class="col-2">
        <div id="back-button" class="float-left">
            {{#if urlsAndPages.backbutton}}
            <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-lg btn-secondary float-left">Back</a>
            {{/if}}
        </div>
    </div>

    <div class="col-8">
        <div class="text-center">
            <div id="warning-message-small"></div>

            {{#if urlsAndPages.pagination}}
                <div id="page-number">{{> pageNumberFormat}}{{urlsAndPages.pagination}}</div></div>
            {{/if}}
        </div>
    </div>

    <div class="col-2">
        <div class="float-right">
            <button role="button" type="submit" class="btn btn-lg btn-primary text-white float-right hand-curser">Next</button>
        </div>
        </form>
    </div>
</div>
