<div id="content-heading-f-d" class="text-center row">

    <div class="col-2">
            <div class="row h-100">
                <div class="col-md-12 align-self-end">
                    
                        <div class="float-left pt-2 pl-2 mb-2">
                            <a id="skip-btn" role="button" onclick="completeQuestions(); removeWarning();" class="btn btn-warning float-left hand-curser">Skip</a>
                        </div>

                </div>
            </div>
    </div>

    <div class="col-8">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                <h2 class="text-primary">{{#each heading}}{{#if heading}}{{this.text}}{{/if}}{{/each}}</h2>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="row h-100">
            <div class="col-md-12 align-self-end">
                
                    <div class="float-right pt-2 pr-2 mb-2">
                        <a id="toggle-text-size-btn" role="button" onclick="toggleFontSize();" class="btn btn-secondary text-white float-right hand-curser"><strong>a</strong>A</a>
                    </div>

            </div>
        </div>
    </div>
</div>


<div id="content-main-top-f-d">
    <div class="row justify-content-center bespoke-vertical-align-top-f font-size-90 text-center">
        <div id="task3TextBoxScenario" class="col-12 py-1">
                {{#each sheetsSituations}}
                    <div >
                        {{#if scenario}}
                            {{{this.text}}}
                        {{/if}}
                    </div>
                {{/each}}
            
        </div>
    </div>
</div>


<div id="content-main-bottom-f-d" class="font-size-90">
    <div id="task-3-text-box" class="justify-content-center bespoke-vertical-align-bottom-f-d col-12 text-left">

        <div class="col-1 align-self-end pb-1">
            <div id="back-button" class="float-left">
                {{#if urlsAndPages.backbutton}}
                    <a href={{urlsAndPages.previousPage}} role="button" class="btn btn-secondary float-left">Back</a>
                {{/if}}
            </div>
        </div>


        <div class="col-10">
            <form onSubmit="return checkQuestionsRadios(getArrayOfQuestions());" method="POST">
                <table class="table table-striped table-sm">
                        <thead>
                            <tr> 
                                <td class="blank col-7"></td>

                                <th class="key col-1">
                                    <div class="text-center font-size-sm"><span class="font-weight-normal">Very<br></span><span class="text-danger">Ineffective</span></div>
                                </th>
                                <th class="key col-1">
                                    <div class="text-center font-size-sm"><span class="font-weight-normal">Somewhat<br></span><span class="text-danger">Ineffective</span></div>
                                </th>
                                <th class="key col-1">
                                    
                                        <div class="text-center text-secondary font-weight-normal font-size-sm"><span>Neutral</span></div>
                                   
                                </th>
                                <th class="key col-1">
                                    <div class="text-center font-size-sm"><span class="font-weight-normal">Somewhat<br></span><span class="text-success">Effective</span></span></div>
                                </th>
                                <th class="key col-1">
                                    <div class="text-center font-size-sm"><span class="font-weight-normal">Very<br></span><span class="text-success">Effective</span></span></div>
                                </th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            {{#each perguntas}} 
                            {{#if radio}} 
                                <tr name="radioques">
                                    <td class="text-left col-7">{{this.text}}</td>

                                    <td class="radiocol text-center input col-1">
                                            <input class="form-check-input first-radio-box" type="radio" name={{this.id}} value="1-strongly-disagree" onclick="removeWarning();" {{#if this.option1Selected}} checked {{/if}} required>
                                        </td>
                                    <td class="radiocol text-center input col-1">
                                            <input class="form-check-input" type="radio" name={{this.id}} value="2-somewhat-disagree" onclick="removeWarning();" {{#if this.option2Selected}} checked {{/if}} required>
                                        </td>
                                    <td class="radiocol text-center input col-1">
                                            <input class="form-check-input" type="radio" name={{this.id}} value="3-no-opinion" onclick="removeWarning();" {{#if this.option3Selected}} checked {{/if}} required>
                                        </td>
                                    <td class="radiocol text-center input col-1">
                                            <input class="form-check-input" type="radio" name={{this.id}} value="4-somewhat-agree" onclick="removeWarning();" {{#if this.option4Selected}} checked {{/if}} required>
                                        </td>
                                    <td class="radiocol text-center input col-1">
                                            <input class="form-check-input" type="radio" name={{this.id}} value="5-strongly-agree" onclick="removeWarning();" {{#if this.option5Selected}} checked {{/if}} required>
                                        </td>
                                </tr>
                            {{/if}} 
                            {{/each}}
                        </tbody>
                </table>
        </div>

                <div class="col-1 align-self-end pb-1">
                    <div class="float-right">
                        <button role="button" type="submit" class="btn btn-primary text-white float-right hand-curser">Next</button>
                    </div>
                </div>
            </form>
    </div>
</div>


